@model ChessGameManager.ChessGame

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChessGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDChessGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDChessGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPlayer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPlayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPlayer.LastName)
        </dd>

        @foreach (var uploadedFile in Model.UploadedFiles)
        {
            <dt>
                @uploadedFile.Name
            </dt>

            <dd style="margin-top:10px">
                <img src="~/File?id=@uploadedFile.IDUploadedFille" alt="picture" width="300" height="200" />
            </dd>
        }

    </dl>
</div>
<p>
    <button class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = Model.IDChessGame })</button>
    <button class="btn btn-warning">@Html.ActionLink("Back to List", "Index")</button>
</p>
